// bootstrap overriding and setting brand colors
$primary: #506b64;
$secondary: #94c4ad;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

// saving brand colors
:root {
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
}
