<div class="container text-center my-5">
  <%= link_to 'Si vous rencontrez un problème, cliquez ici', 'https://opencollective.com/le-47/events/festival-du-47-3eme-edition-0cfc8c1c', target: :blank, class: 'btn btn-primary' %>
</div>

<iframe
  src="https://opencollective.com/le-47/events/festival-du-47-3eme-edition-0cfc8c1c/contribute/contribution-en-prix-libre-facon-47-83255/checkout?interval=oneTime&amount=47&contributeAs=me"
  style="width: 100%; height: 1600px; border: none; max-width: 100%; min-width: 100%; margin: 0;"
  allow="payment">
</iframe>
