<div class="container p-5 my-5 bg-light rounded-3">
  <h1 class="text-center text-primary mb-5">
    Animateurs
  </h1>

  <div class="container-fluid">
    <div class="row g-4">
      <% @fournisseurs.each_with_index do |fournisseur, index| %>
        <% if index < @fournisseurs.size - 1 %>
          <%= render partial: 'shared/person_card', locals: { fournisseur: fournisseur } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
