<div class="container p-5 my-5 bg-light rounded-3">
  <h1 class="text-center text-primary mb-5">
    Animateurs
  </h1>

  <div class="container-fluid">
    <div class="row g-4">
      <% @fournisseurs.each do |fournisseur| %>
        <%= render partial: 'shared/person_card', locals: { fournisseur: fournisseur } %>
      <% end %>
    </div>
  </div>
</div>
