<h1>Cher Festivalier, voici ta confirmation d'inscription.</h1>

<p>Merci de ta participation, nous avons hâte de nous retrouver tous ensemble !</p>

<p>
  Si tu ne l'as pas encore fait tu peux toujours prendre ton passe <%= link_to 'ici', 'https://opencollective.com/le-47/events/festival-du-47-3eme-edition-0cfc8c1c/contribute/forfait-illimite-83105/checkout?interval=oneTime&amount=100&contributeAs=me', target: :blank %>
  , et tu recevras par retour d'email l'adresse exacte du lieu et le digicode.
</p>

<p>Ce festival se veut en participation consciente collective. Nous aurons à la fin une session rétrospective pour ajuster nos contributions afin de rétribuer le travail des uns et des autres et la valeur créée au plus juste.</p>

<p>Bon festival !</p>
