<div class="container p-5 my-5 bg-light rounded-3">
  <h1 class="text-center text-primary mb-5">
    Mes favoris
  </h1>

  <div class="container-fluid">
    <div class="row g-4">
      <% @offres.each do |offre| %>
        <%= render partial: 'shared/offre', locals: { offre: offre } %>
      <% end %>
    </div>
  </div>
</div>
